mixin section1(data)
    section.item1
        a(name="timeline")
        .content
            h2  Timeline
            .time_content
                .timeline
                .timel
                    .item.right
                        span 01.02.2016
                    .item.left
                        h3  Заголовок события
                        p Lorem ipsum dolor laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                    .img
                .timel
                    .item.left
                        span 01.02.2016
                    .item.right
                        h3  Заголовок события
                        p Lorem ipsum dolor tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                    .img
                .timel
                    .item.left
                        span 01.02.2016
                    .item.right
                        h3  Заголовок события
                        p.
                            r tempora laudantium ipsa ad debitis unde? asdasdIste voluptarasda tempora lasdasdaasdsdasdudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste volupta
                    .img
                .timel
                    .item.right
                        span 01.02.2016
                    .item.left
                        h3  Заголовок события
                        p Lorem ipsum dolor tempora laudantium ipsa ad dolor tempora laudantium ipsa ad dolor laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                    .img
                .timel
                    .item.left
                        span 01.02.2016
                    .item.right
                        h3  Заголовок события
                        p Lorem ipsum dolor tempora laudantium ipsa ad dolor tempora laudantium ipsa ad dolor tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                    .img

