section{
    height: auto;
    overflow: hidden;

    text-align: center;

}
.content{
    padding:20px 0px 20px 0px;
    overflow: hidden;
    text-align: center;
}
h2{
    margin-bottom: 20px;
}
.item1 {

    background: $red;
}
.item1 .content{



}
.item3{
    background: $green;
}
.item_video{
    height: 40vh;
}
.time_content{
    .left{
        position: relative;
        right: calc(-50% + 300px);
        float: left;
        padding: 10px;

        border-radius: 5px;
        h3{
            text-align: right;
        }
        span{
            float: right;

        }


    }

    p{
        background: $green;
        border-radius: 5px;
        margin-bottom:5px;
        text-align: left;
        padding: 5px;
        box-shadow: 0 3px 8px -2px rgba(55, 60, 60, 0.7);
        width: auto;



    }
    .right{
        padding: 10px;
        position: relative;
        right: calc(50% - 300px);
        float: right;
        span{
            float: left;
        }
        h3{
            text-align: left;
        }


    }
    .item{

        width: 250px;
    }
    margin: 0 auto;
    position: relative;


    .timel{
        width: 100%;
        height: auto;
        overflow: hidden;

    }
    .timeline {
        position: absolute;
        width: 3px;
        height: 100%;
        background: $lgray;
        left: calc(50% - 1px);
        z-index: 9;


    }

    .img{
        z-index: 9999;
        width: 30px;
        height: 30px;
        background: $red;
        margin: 0 auto;
        position: relative;
        border-radius: 50%;
        border: solid 2px $lgray;
        box-shadow: 0 3px 8px -2px rgba(55, 60, 60, 0.7);

    }

}
.form{
    background: $lgray;
    text-align: center;
    form{
        display: inline-block;
        width: 453px;
        padding: 20px;
        //background: $lgray;
        border-radius: 5px;

        margin-top: 10px;
        //box-shadow: 0 3px 8px -2px rgba(55, 60, 60, 0.7);
        p{
            text-align: left;
        }
        input{
            @extend .tran;
        }
        input[type=text],[type=email]{
            width: 202px;
        }
        input[type=text],[type=email],textarea{
            padding: 8px;
            border: solid 2px darken($lgray, 10%);
            border-radius: 5px;
            margin-bottom: 10px;

            &:focus{
                border: solid 2px $green;
            }
        }
        textarea{
            height: 330px;
            width: 430px;
            min-width: 430px;
            min-height: 330px;
            max-width: 430px;
            max-height: 330px;

        }
        input[type=submit],[type=reset]{
            width: 80px;
            margin-left: 10px;;
            padding: 2px;
            float: right;
            background: #fff;
            border: solid 2px darken($lgray, 10%);
            border-radius: 5px;
            &:hover{
                background: $green;
                border: solid 2px $green;
                color: darken($lgray, 70%);


            }
        }
    }
}
.skills{
    p{
        margin: 0 auto;
        width: 803px;

    }
}
.citat{
    background: $red;
    padding: 30px 0 30px 0;
    h2{
        color: $lgray;
        font-size: 24px;/* Приближение из-за подстановки шрифтов */
        font-style: italic;
        line-height: 36px;/* Приближение из-за подстановки шрифтов */
        max-width: 922px;
        margin: 0 auto;


    }
    p{
        color: $lgray;
        font-size: 16px;/* Приближение из-за подстановки шрифтов */
        font-style: italic;
        line-height: 36px;/* Приближение из-за подстановки шрифтов */

    }
}
