mixin skills(data)
    section.skills
        a(name="skills")
        .content
            h2  Skills
            +diagram(85,"User Interface","blue")
            +diagram(80,"Front-end")
            +diagram(65,"User Experience")
            +diagram(75,"Icon design","blue")
