mixin skills(data)
    section.skills
        a(name="skills")
        .content
            h2  Skills
            p I’m an experienced and passionate user interface designer with interaction design background. My goal is to make the world wide web a better place by designing beautiful user experiences, one site at a time.
            +diagram(85,"User Interface","blue")
            +diagram(80,"Front-end")
            +diagram(65,"User Experience")
            +diagram(75,"Icon design","blue")
