include ../news/news.pug
mixin section_news(data)
    .line.line1
        .left
            .news.news1
                .title
                    h3 Inventore veritatis et quasi architecto beat
                    br
                    span Inventore veritatis
        .right
            .news
                .text_news.after
                    span    NEWS / 05.05.2014
                    br
                    h3  Inventore veritatis et quasi architectosunt
                    br
                    p   Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni magnam aliquam quaerat di consequatur?
                    .rm
                        a(href="#") Read more...
                .news2



    .line.line1
        .left
            .news.news3
                .title
                    h3 Inventore veritatis et quasi architecto beat
                    br
                    span Inventore veritatis
                .text_news
                    span    NEWS / 05.05.2014
                    br
                    h3  Inventore veritatis et quasi architectosunt
                    br
                    p   Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni magnam aliquam quaerat di consequatur?
                    .rm
                        a(href="#") Read more...
        .right
            .news
                .text_news
                    span    NEWS / 05.05.2014
                    br
                    h3  Inventore veritatis et quasi architectosunt
                    br
                    p   Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni magnam aliquam quaerat di consequatur?
                    .rm
                        a(href="#") Read more...
                .news2
