mixin header(data)
    header
        h1  THE
            span BLOG
        nav
            ul
                li
                    a.active(href="#") Home
                li
                    a(href="#") About
                li
                    a(href="#") Contact
