doctype html
html(lang="ru")
    head
        title= pageTitle
        link(
            rel='stylesheet',
            href='css/main.css')
    body
        h1 Pug - node template engine
        #container.col
            if youAreUsingPug
                p You are amazing
            else
                p Get on it!
            p.
                Pug is a terse and simpl templating language with a
                strong focus sdsson sperformance and powerful features.