doctype html
html(lang="ru")
    head
        title= pageTitle
        link(
            rel='stylesheet',
            href='css/main.css')
    body
        header

        section.no_visible
            .content
        section.no_visible
            .content
        section.no_visible
            .content
        section.no_visible
            .content
        section.form
            .content

        footer


