mixin footer(data)
    footer.footer
        .footer_content
            h2  STAY CONNECTED!
            p   Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            .footer_social
                .tw
                    a(href="#")
                        i(class="fa fa-twitter fa-3x", aria-hidden="true")
                            br
                            span    TWITTER
                .fb
                    a(href="#")
                        i(class="fa fa-facebook fa-3x", aria-hidden="true")
                            br
                            span    FACEBOOK
                .gp
                    a(href="#")
                        i(class="fa fa-google fa-3x", aria-hidden="true")
                            br
                            span    GOOGLE PLUS
                .in
                    a(href="#")
                        i(class="fa fa-instagram fa-3x", aria-hidden="true")
                            br
                            span    INSTOGRAM
        hr
