mixin header(data)
    header.header
        .logo_header Reales

        ul.sing
            li
                a(href="#").sing_item Sing Up
            li
                a(href="#").sing_item Sing In
            li
                a(href="#").sing_item.btn.btn-green List a Property

