doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/example/example.pug
    include ../components/footer/footer.pug
    include ../components/menu/menu.pug
    include ../components/js/js.pug



    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        +menu("Index")
        +header()
        +js()


        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
        <script>new WOW().init();</script>
