
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}


dfn {
  font-style: italic;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


mark {
  background: #ff0;
  color: #000;
}


small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}


pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}


button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


input {
  line-height: normal;
}


input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}


optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 1px;
}
////////////// END NORMALIZE///////////////////////////////////////

//color
$blue:  #5ec2e7;
$dark: #363842;
$lgray: #f6f6f6;
$red: #ff605f;
$green: #34cf75;
.item1{
  background: $red;
}
.item3{
  background: $green;;
}
body{
  background: url("../img/background.png");
  background-attachment: fixed;
  scroll-behavior: smooth;
}
.border{
  border: 1px solid red;
}
.tran {
  transition: 0.3s;
}

header,footer,section {
  width: 100%;
  //height: 300px;
  overflow: auto;
  box-sizing: border-box;

}
.no_visible{
  display: none;
}
.social{
  a{
    &:hover{
      background: none;
      color: $lgray;
      border: 2px solid $lgray;
    }
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $lgray;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    color: $blue;
    margin-left: 16px;
    box-sizing: border-box;
    @extend .tran
  }
  float: right;
  margin: 20px;
}
.menu{
  z-index: 9999;
  position: fixed;
  top: 200px;
  width: 100px;
  li{
    list-style-type: none;
  }
  a{
    @extend .tran;
    display: block;
    text-decoration: none;
    width: 80px;
    color: #000;
    font-weight: bold;
    padding: 1px;
    padding-left: 10px;
    text-shadow: 1px 1px 2px #fff;
    &:hover{
      background: rgba(125,122,122,0.4);
      color: $lgray;
      text-shadow: 1px 1px 2px #000;
    }

   // background: $green;
  }
}

body{
  min-width:480px;
}
////////HEADER//////////////////
header{

  h1{
    font-size: 50px;
    line-height: 50px;
    margin: 0px;
    font-weight: 700;
    color: $lgray;
  }
  background: $blue
}
.logo{
  float: left;
  margin: 20px;
}
///////SECTIONS////////*//////////////

section{
  height: auto;
  overflow: hidden;
  padding: 20px;
  text-align: center;

}
h2{
  margin-bottom: 20px;
}
.item_video{
  height: 40vh;
}
.is_overlay{ display: block; width: 100%; height: 100%; }

#video_content {
  position: absolute;
  top: -300px; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: -1;
}

#video_content > video {
  position: absolute;

  left: 0;

  min-width: 100%;
  min-height: 100%;
  width: auto; height: auto;
}
@media (min-aspect-ratio: 16/9) {
  #video_content > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #video_content > video { width: 300%; left: -100%; }
}

@supports (object-fit: cover) {
  #video_content > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}
.time_content{
  .left{
    position: relative;
    right: calc(-50% + 300px);
    float: left;
    padding: 10px;

    border-radius: 5px;
    h3{
      text-align: right;
    }
    span{
      float: right;

    }


  }

  p{
    background: $green;
    border-radius: 5px;
    margin-bottom:5px;
    text-align: left;
    padding: 5px;
    box-shadow: 0 3px 8px -2px rgba(55, 60, 60, 0.7);
    width: auto;



  }
  .right{
    padding: 10px;
    position: relative;
    right: calc(50% - 300px);
    float: right;
    span{
      float: left;
    }
    h3{
      text-align: left;
    }


  }
  .item{

    width: 250px;
  }
  margin: 0 auto;
  position: relative;


  .timel{
    width: 100%;
    height: auto;
    overflow: hidden;

  }
  .timeline {
    position: absolute;
    width: 3px;
    height: 100%;
    background: $lgray;
    left: calc(50% - 1px);
    z-index: 9;


  }

  .img{
    z-index: 9999;
    width: 30px;
    height: 30px;
    background: $red;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    border: solid 2px $lgray;
    box-shadow: 0 3px 8px -2px rgba(55, 60, 60, 0.7);

  }

}
.form{
  //background: $lgray;
  text-align: center;
  form{
    display: inline-block;
    width: 453px;
    padding: 20px;
    //background: $lgray;
    border-radius: 5px;

    margin-top: 10px;
    //box-shadow: 0 3px 8px -2px rgba(55, 60, 60, 0.7);
    p{
      text-align: left;
    }
    input{
      @extend .tran;
    }
    input[type=text],[type=email]{
      width: 202px;
    }
    input[type=text],[type=email],textarea{
      padding: 8px;
      border: solid 2px darken($lgray, 10%);
      border-radius: 5px;
      margin-bottom: 10px;

      &:focus{
        border: solid 2px $green;
      }
    }
    textarea{
      height: 330px;
      width: 430px;
      min-width: 430px;
      min-height: 330px;
      max-width: 430px;
      max-height: 330px;

    }
    input[type=submit],[type=reset]{
      width: 80px;
      margin-left: 10px;;
      padding: 2px;
      float: right;
      background: #fff;
      border: solid 2px darken($lgray, 10%);
      border-radius: 5px;
      &:hover{
        background: $green;
        border: solid 2px $green;
        color: darken($lgray, 70%);


      }
    }
  }
}
.content{
  max-width: 1280px;
  margin: 0 auto;
 // @extend .border;


}


///////FOOTER//////////////////////
footer{
  background: $dark;

  .social{
    a{
      color:$dark;
    }
  }
}
