mixin menu()
    .menu
        ul.animated.bounceInLeft.wow
            li
                a(href="#video") Video
            li
                a(href="#timeline") Timeline
            li
                a(href="#contact") Contact
