mixin menu(data)



    .menu
        ul.animated.bounceInLeft.wow
            li
                a(href=data+".html")= data
            li
                a(href="#timeline") Timeline
            li
                a(href="#contact") Contact
