mixin example(data)
        .dip
            .dip_head
                h1  День в фото
                hr
            .bigphoto
                .bigphoto_date.date  21
                    br
                    span    сентября
            .adv.adv_2
            .photo.photo_1
            .photo.photo_2
            .photo.photo_3
            .photo.photo_4
            .photo.photo_5
            .photo.photo_6
            .adv.adv_1
            .date   20
                br
                span    сентября
            .photo.photo_1
            .photo.photo_2
            .photo.photo_3
            .photo.photo_4
            .photo.photo_5

            .date 18
                br
                span    сентября
            .photo.photo_1
            .photo.photo_2
            .photo.photo_3
            .photo.photo_4
            .photo.photo_1
            .photo.photo_2

            ul.pages
                li  Страницы:
                li
                    a.active(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a.next(href="#") Следующая

