include hex.pug

mixin hexagon(data)
    ul
        li
            +hex('hex2','h1')
        li
            +hex('hex2','h3')
        li
            +hex('hex2','h2')
        li
            +hex('hex2','h1')
        li
            +hex('hex2','h3')
