mixin diagram(deg,name,color)
    .deg
        svg.over-image(viewport="0 0 120 120",class=color)
            circle#bar(r="54",cx="60",cy="60",fill="transparent",stroke-dasharray="339.292006588",stroke-dashoffset=((100-deg)/100)*339.292006588)
        span=deg+"%"
        p=name



//<!--
//length:
//2 * 3.14 * 54 = 339.12
//
//339.12 is 100% length of the circle
//how to make 88% ?
//x = ((100 - 88)/100)*339.12
//x = 40.694
//stroke-dashoffset = 40.694
//-->
