
.over-image {
    stroke: $green;
    stroke-width: 24px;
    width: 240px;
    height: 240px;

    transform: rotate(270deg);
}
.deg{ display: inline-block;
    position: relative;
    width: 242px;
    height: 260px;
    overflow: hidden;
    margin: 10px;
    span,.name_skill{
        width: 240px;
        height: 240px;
        line-height: 240px;
        position: absolute;
        left: 0;

        text-align: center;

        font-weight: bold;

    }
    span{
        font-size: 50px;
        top:-10px;
        color: $dark;

    }
    .name_skill{
        font-size: 18px;
        top:18px;
        color: lighten($dark,30%);
    }
    .back{
        stroke: $dark;
        stroke-width: 15px;
    }
}

.blue{
    stroke: $blue;
}
