
.over-image {
    stroke: $green;
    stroke-width: 24px;
    width: 240px;
    height: 240px;

    transform: rotate(270deg);
}
.deg{ display: inline-block;
    position: relative;
    width: 240px;
    height: 260px;
    overflow: hidden;
    margin: 10px;
    span,p{
        width: 240px;
        height: 240px;
        line-height: 240px;
        position: absolute;
        left: 0;

        text-align: center;

        font-weight: bold;

    }
    span{
        font-size: 50px;
        top:-10px;
        color: $dark;

    }
    p{
        font-size: 18px;
        top:8px;
        color: lighten($dark,30%);
    }
}

.blue{
    stroke: $blue;
}
