mixin diagram(deg,name,color)
    .deg
        svg.over-image(viewport="0 0 240 240",class=color)
            circle#bar(r="108",cx="120",cy="120",fill="transparent",stroke-dasharray="678.584013175",stroke-dashoffset=((100-deg)/100)*678.584013175)
        span=deg+"%"
        p=name



