include ../social/social.pug

mixin header(data)
    header
        .content
            .logo
                h1 n31
                +social()

            .prof
                h2  DESIGNER & MAKER
                h3  Building new products at Spotify NYC .Mail App




