header{
    overflow: visible;
    background:$blue;
    h1{
        font-size: 50px;
        line-height: 50px;
        margin: 0px;
        font-weight: 700;
        color: $lgray;
        float: left;
    }

    .prof{

        width: 100%;
        display: block;
    }
    h2{
        color:  #ffffff;
        font-size: 60px;/* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 77px;/* Приближение из-за подстановки шрифтов */
        text-align: center;
        margin-bottom: 0;
    }
    h3{color: #ffffff;
        font-size: 18px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;

        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }
    @include angled-edge('outside bottom','lower right', $blue);

}

.logo{
    height: 80px;
    width: 100%;
    margin: 20px;
}


