mixin footer(data)
    footer.footer
        section.footer_links
            .content
                .links.contactus
                    ul
                        li
                            h4.links_title  Contact us
                        li
                        li
                        li
                        li
                .links.quicklinks
                    ul
                        li
                            h4.links_title  Quick Links
                        li
                        li
                        li
                        li
                .links.collections
                    ul
                        li
                            h4.links_title  COLLECTIONS
                        li
                        li
                        li
                        li
                .links.singup
                    form
                        h4.links_title  SIGN UP FOR EMAILS
                        p
                            span 20% off your next order,

                            |   when you sign up to our newsletter!
                        input.singup_email
        section.footer_nav
            .content
                .footer_nav_menu
                    ul
                        li.item
                            a(href="#") HOME
                        li.item
                            a(href="#") SHOP
                        li.item
                            a(href="#") Features
                        li.item
                            a(href="#") Portfolio
                        li.item
                            a(href="#") Blog
                .footer_nav_pay
                    ul
                        li
                            .pay_item
                        li
                            .pay_item
                        li
                            .pay_item
                        li
                            .pay_item
                        li
                            .pay_item
                        li
                            .pay_item
        section.footer_copy
            .content
                .copyright
                    span   Copyright 2017
                    span   Cavalier
                    span   &trade;  All rights reserved.  Smartythemes.com
