doctype html
html(lang="ru")

    head

    body

        header
            h1 С другой стороны постоянный количественный рост и сфера нашей активности
            p Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
        section
            h2 Задача организации
            - for (var j = 0; j < 2; j++)
                div
                    h3 Равным образом укрепление и развитие структуры
                    ul
                        - for (var x = 0; x < 4; x++)
                            li анализ существенных финансовых и административных условий
                        - for (var i = 0; i < 4; i++)
                            li
                                a(href="#") обучения кадров
            p Таким образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий.
        section
            h2 Таким образом реализация намеченных плановых заданий влечет за собой процесс
            - for (var j = 0; j < 2; j++)
                article
                    h3 Идейные соображения высшего порядка
                    div
                        img(src="https://upload.wikimedia.org/wikipedia/commons/d/d4/%D0%90%D0%BA%D1%82%D0%B0%D1%83_%D0%9A%D0%B0%D1%81%D0%BF%D0%B8%D0%B9%D1%81%D0%BE%D0%B5_%D0%BC%D0%BE%D1%80%D0%B5_%D0%97%D0%B0%D0%BA%D0%B0%D1%82.JPG" width='95' alt="Закат").
                        p   Таким образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий.
                        p   Товарищи! сложившаяся структура организации в значительной степени обуславливает создание соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры представляет собой интересный эксперимент проверки форм развития. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании модели развития.

                        a(href="#") Читать статью...
            section
                span Комментарии
                form


                    input(type="text" placeholder="Ваше имя")

                    input(type="text" placeholder="Комментарий")

                    input(type="submit" value="Отправить")
        footer

            h2  Повседневная практика показывает
            figure
                img(src="https://cdn.pixabay.com/photo/2015/06/30/22/37/sunset-826950_960_720.jpg" width='195' alt="Закат 2" )
                br
                figcaption существенных финансовых условий
