mixin social()
    .social
        a(href='#')
            i(class="fa fa-vk fa-2x",aria-hidden="true")
        a(href='#')
            i(class="fa fa-skype fa-2x",aria-hidden="true")
        a(href='https://github.com/ne31oi')
            i(class="fa fa-github-alt fa-2x",aria-hidden="true")

